.portfolio{
    background: #f5f8fd;
    padding-top: 40px;
    padding-bottom: 40px;
}

.portfolio ul{
    display: inline-block;
    background: #fff;
    padding: 0 15px;
    border-radius: 20px;
}

.portfolio ul li{
    list-style: none;
    float: left;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 600;
}

.portfolio ul li:hover{
    color: #149ddd;
}

.active{
    color: #149ddd;
}