a{
    color: #faebd7;
}

.header{
    background: #272525;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 9999;
    width: 100%;
}

.logo{
    font-size: 24px;
}

.logo a:hover{
    color: #fff87f
}

.socailLink li{
    margin-right: 5px;
    font-size: 18px;
}

.socailLink li a:hover{
    transition: 1.0s;
}

.socailLink li .facebook:hover{
    color: #3b5998;
}

.socailLink li .twitter:hover{
    color: #00acee;
}

.socailLink li .instagram:hover{
    color: #833AB4;
}

.socailLink li .linkedin:hover{
    color: #0072b1;
}

.socailLink li .pinterest:hover{
    color: #c8232c;
}

.menubar li{
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.menubar li:last-child{
    margin-right: 0;
}

.menubar li a:hover{
    color: #fff87f;
}

.menubtn{
    border: none;
    color:#faebd7;
    background: transparent;
    font-size: 28px;
}

.menubtn.active{
    color: #f77d15
}

@media (max-width: 991px){
    .header{
        position: relative;
        padding-bottom: 40px;
    }
    .socailLink{
        position: absolute;
        bottom: 10px;
        left: calc(50% - 45px);
    }

    .socailLink li a{
        font-size: 22px;
    }

    .menuActive{
        position: absolute;
        left: 0;
        width: 250px;
        top: 0;
        padding: 20px 0 30px 20px;
        background: rgba(24, 24, 19, 0.4);
        z-index: 9999;
    }

    .menuActive .menubar{
        margin-top: 35px;
    }
    .menuActive .menubar li{
        width: 100%;
        padding: 10px 0 10px 15px;
        margin-right: 0;
    }

    .menuActive .menubar li:hover{
        background: #272525;
    }

}
    
