.skills{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #faebd7;
}

.progressBar{
    padding-top: 10px;
    padding-bottom: 10px;
}

.progressBar > div{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
}

.progressStyle{
    height: 7px;
    border-radius: 0;
    text-transform: uppercase;
}