.resume{
    padding-top: 40px;
    padding-bottom: 40px;
}


.mainContent{
    padding-left: 20px;
    padding-bottom: 20px;
}

.resumeTitle{
    font-size: 26px;
    font-weight: 800;
    margin: 15px 0;
}

.mainContent{
    padding: 0 0 20px 20px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.mainContent::before{
    content: '';
    position: absolute;
    left: -9px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid #1f5297;
    border-radius: 50%;
    background: #fff;
}

.mainContent h5{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.mainContent  .text{
    color: #555555;
    margin-bottom: 15px;
}

.mainContent .year{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    background: #e4edf9;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.mainContent ul{
    margin-left: 20px;
    margin-bottom: 20px;
}

.mainContent ul li {
    font-size: 17px;
}