a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,ul,p,figure{
    padding: 0;
    margin: 0;
}

.section{
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-section{
    padding-top: 25px;
}

.activeButton{
    color: #149ddd;
}

.inActiveButton{
    color:red;
}