.facts{
    background: #272525;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content{
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
}

.content .iconStyle{
    font-size: 40px;
    margin-right: 10px;
}

.content h3{
    display: inline;
    font-size: 40px;
    color: #149ddd;
}

.content h4{
    font-size: 22px;
    color: rgb(218, 201, 201);
    margin-top: 10px;
    margin-bottom: 5px;
}
