.sectionHeading{
    margin: 0 auto;
}

.sectionHeading h2{
    position: relative;
    padding-bottom: 7px;
}

.sectionHeading h2::after{
    content: '';
    width: 150px;
    height: 2px;
    background-color: red;
    position: absolute;
    left: calc(50% - 75px);
    bottom: 0;
}

.sectionHeading h2::before{
    content: '';
    width: 40px;
    height: 4px;
    background-color: rgb(9, 255, 0);
    position: absolute;
    left: calc(50% - 20px);
    bottom: -1px;
    z-index: 99;
}

.sectionHeading p{
    margin-top: 15px;
    margin-bottom: 15px;
}