.aboutRight ul{
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
}

.aboutRight ul li{
    list-style: none;
    float: left;
    width: 365px;
    display: flex;
    font-size: 17px;
}

.aboutRight ul li span{
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}