.carousel{
    background: rgb(75, 73, 73);
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #fff;
    box-shadow: 0px 1px 5px 3px rgb(247 244 244);
    overflow: hidden;
}

.slider .item{
    position: relative;
    min-width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.sliderImg{
    background-position: center;
    background-repeat: no-repeat;
}

.slider button{
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
}

.slider button:hover{
    color: #f77d15;
}

#goLeft{
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 99;
}

#goRight{
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 99;
}

